<div class="user-card">

   <a  routerLink="../"  >
  <button class="back-btn"  id="back">
    ← Back
  </button>
  </a>

  <div class="card-header">
    <div class="avatar">
     {{ user?.firstName?.charAt(0) || 'N' }}{{ user?.lastName?.charAt(0) || 'A' }}
    </div>

    <div>
      <h2>{{ user?.firstName }} {{ user?.lastName }}</h2>
      <p>User ID: {{ user?.id }}</p>
    </div>
  </div>

  <div class="user-info">

    <div class="info-item">
      <span>Email</span>
      <strong>{{ user?.email }}</strong>
    </div>

    <div class="info-item">
      <span>Mobile</span>
      <strong>{{ user?.mobile }}</strong>
    </div>

    <div class="info-item">
      <span>City</span>
      <strong>{{ user?.city }}</strong>
    </div>

  </div>

  <div class="card-actions">
    <button class="edit-btn">
      Edit
    </button>

    <button class="delete-btn"  (click)="deleteUser()">
      Delete
    </button>
  </div>

</div>