<app-loader></app-loader>
<app-notifications></app-notifications>
<app-confirm-dialog></app-confirm-dialog>

<!-- Shell (header/sidebar) only makes sense once logged in -->
<app-header *ngIf="user$ | async"></app-header>

<div class="shell" *ngIf="user$ | async; else publicView">
  <app-sidebar></app-sidebar>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>

<ng-template #publicView>
  <main class="content public">
    <router-outlet></router-outlet>
  </main>
</ng-template>

<app-footer></app-footer>
