
<!-- <pre>Product {{ product | json }}</pre> -->
<!-- 
<div style="padding: 20px; font-family: sans-serif;">
  <h2>Product Information</h2>
  <div *ngIf="product" style="background: #f4f4f4; padding: 15px; border-radius: 6px;">
    <p><strong>Name:</strong> {{ product.name }}</p>
    <p><strong>Price:</strong> ${{ product.price }}</p>
    <p><strong>Color:</strong> {{ product.color }}</p>
    <p><strong>Discount:</strong> {{ product.discount }}%</p>
  </div>
</div> -->
<!-- //current user list will display for just understanding  -->
<!-- <app-user-list></app-user-list>  -->


 <router-outlet></router-outlet>  
